/*==========  Desktop First Method (this approach is used)  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
    header {
        height: 150px;
    }
    nav {
	    height: 60px;
	    line-height: 60px;
	    box-shadow: none;
	    position: fixed;
        background-color: rgb(51, 51, 51);
	}
    .logo {
        height: 56px;
        padding: 5px 30px;
    }
    .logo img {
        height: 100%;
    }
    .menu_btn {
        height: 40px;
        width: 42px;
        -ms-border-radius: 3px;
        border-radius: 3px;
        border: 1px solid #fff;
        margin: 10px 15px;
        color: white;
    }
    .menu_btn i {
        font-size: 25px;
        top: -16px;
        position: relative;
    }
    .menu_btn:hover {
        background-color: #fff;
    }
    .menu_btn:hover i {
        color:  rgba(51, 51, 51, 0.6);
    }
    #top_menu {
        background-color:  rgba(51, 51, 51, 0.6);
        border-top: 1px solid #fff;
        padding: 0;
    }
    .menu li {
        display: block;
        text-align: center;
        padding: 0;
    }
    .menu li a {
        display: block;
        height: 50px;
        line-height: 50px;
    }
    .menu li a:hover {
         background-color: rgba(51, 51, 51, 0.63);
    }
    #modalForm {
        width: 100%;
    }
    .main_footer {
        padding: 0;
    }
    .footer_item {
        margin: 40px 0;
    }
    .user_selfie {
        padding: 0 10px;
    }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	header {
        height: 150px;
    }
    nav {
	    height: 60px;
	    line-height: 60px;
	    box-shadow: none;
	    position: fixed;
        background-color: rgb(51, 51, 51);
	}
    .logo {
        height: 56px;
        padding: 5px 30px;
    }
    .logo img {
        height: 100%;
    }
    .menu_btn {
        height: 40px;
        width: 42px;
        -ms-border-radius: 3px;
        border-radius: 3px;
        border: 1px solid #fff;
        margin: 10px 15px;
        color: white;
    }
    .menu_btn i {
        font-size: 25px;
        top: -16px;
        position: relative;
    }
    .menu_btn:hover {
        background-color: #fff;
    }
    .menu_btn:hover i {
        color:  rgba(51, 51, 51, 0.6);
    }
    #top_menu {
        background-color:  rgba(51, 51, 51, 0.6);
        border-top: 1px solid #fff;
        padding: 0;
    }
    .menu li {
        display: block;
        text-align: center;
        padding: 0;
    }
    .menu li a {
        display: block;
        height: 50px;
        line-height: 50px;
    }
    .menu li a:hover {
         background-color: rgba(51, 51, 51, 0.63);
    }
    #modalForm {
        width: 100%;
    }
    .main_footer {
        padding: 0;
    }
    .footer_item {
        margin: 40px 0;
    }
    .user_selfie {
        padding: 0 10px;
    }
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {
	header {
        height: 150px;
    }
    nav {
	    height: 60px;
	    line-height: 60px;
	    box-shadow: none;
	    position: fixed;
        background-color: rgb(51, 51, 51);
	}
    .logo {
        height: 56px;
        padding: 5px 30px;
    }
    .logo img {
        height: 100%;
    }
    .menu_btn {
        height: 40px;
        width: 42px;
        -ms-border-radius: 3px;
        border-radius: 3px;
        border: 1px solid #fff;
        margin: 10px 15px;
        color: white;
    }
    .menu_btn i {
        font-size: 25px;
        top: -16px;
        position: relative;
    }
    .menu_btn:hover {
        background-color: #fff;
    }
    .menu_btn:hover i {
        color:  rgba(51, 51, 51, 0.6);
    }
    #top_menu {
        background-color:  rgba(51, 51, 51, 0.6);
        border-top: 1px solid #fff;
        padding: 0;
    }
    .menu li {
        display: block;
        text-align: center;
        padding: 0;
    }
    .menu li a {
        display: block;
        height: 50px;
        line-height: 50px;
    }
    .menu li a:hover {
         background-color: rgba(51, 51, 51, 0.63);
    }
    #modalForm {
        width: 100%;
    }
    .main_footer {
        padding: 0;
    }
    .footer_item {
        margin: 40px 0;
    }
    .user_selfie {
        padding: 0 10px;
    }
}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}